@charset "ISO-8859-1";

body {
	 background: linear-gradient( #434343, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.teste {
	font-family: sans-serif;
	color: white;
	
}

.nave {
	text-align: center;

}

.nave ul {
 list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
 
}

.nave li {
  display: inline-block;
  margin: 0 10px;
}

#menu_administrador ul {
    padding:0px;
    margin:0px;
    background-color: #454545;
    list-style:none;
    font-size: 18px;
}

#menu_administrador ul li { 
	display: inline; 
}

#menu_administrador ul li a {
	font-size: 18px;
    padding: 2px 10px;
    display: inline-block;
    background-color: #454545;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #808080;
}

#menu_administrador ul li a:hover {
	font-size: 18px;
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}


/* Atendente */
#menu_atendente ul {
    padding:0px;
    margin:0px;
    background-color: #454545;
    list-style:none;
    font-size: 18px;
}

#menu_atendente ul li { 
	display: inline; 
}

#menu_atendente ul li a {
	font-size: 18px;
    padding: 2px 10px;
    display: inline-block;
    background-color: #454545;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #808080;
}

#menu_atendente ul li a:hover {
	font-size: 18px;
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.table {
	color:white;
}